/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* | CSS RESET  */
* {
	padding: 0;
	margin: 0;
	margin-block: 0;
	margin-inline: 0;
	box-sizing: border-box;
}

/* | VARIABLES */
:root {
	/* | COLORS  */
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
	--white: hsl(0, 0%, 100%);

	/* | FONTS  */
	--h1-fonts: 700 20px 'Kumbh Sans';
	--body-fonts: 400 48px 'Kumbh Sans';
	--small-fonts: 400 12px 'Kumbh Sans';
}

/* | GENERAL STYLES */
html {
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-cyan);
	position: relative;
	font-family: 'Kumbh Sans';
	/* font: var(--body-fonts); */
}

.bgi1 {
	width: 980px;
	height: 980px;
	position: absolute;
	top: -480px;
	left: -300px;
	background-image: url(img/bg-pattern-top.svg);
	background-repeat: no-repeat;
	z-index: -1;
}

.bgi2 {
	width: 725px;
	height: 350px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(img/bg-pattern-top.svg);
	background-repeat: no-repeat;
}

.container {
	width: 350px;
	height: 373px;
	padding: 87px 0 20px;
	border-radius: 12px;
	background: var(--white) url(img/bg-pattern-card.svg) no-repeat top center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 28px;
	color: var(--dark-grayish-blue);
	z-index: 1;
}

.avatar-img {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	border: 5px solid var(--white);
	overflow: hidden;
}

.avatar-img img {
	width: 100%;
	height: auto;
}

.text-section {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 8px;
	border-bottom: 1px solid var(--dark-gray);
}

h1 {
	font: var(--h1-fonts);
}

:is(.text-section h1 span, .info p):first-child {
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
}

footer.footer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

footer.footer * {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

footer.footer p {
	font: var(--small-fonts);
}

footer.footer p:last-child {
	letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
	.bgi1 {
		top: -680px;
		left: -500px;
	}
}

@media screen and (max-width: 500px) {
	/* | GENERAL STYLES */

	.bgi1 {
		top: -680px;
		left: -670px;
	}

	.bgi2 {
		width: 210px;
		height: 300px;
	}

	.container {
		width: 325px;
		height: 375px;
		padding: 87px 0 20px;
		border-radius: 12px;
		gap: 28px;
	}
}
